html body {
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

#gameRoot {
	width: 100% !important;
	height: 100% !important;
	max-height: 100% !important;

	.gameContainer {
		display: flex !important;

		canvas {
			margin: auto !important;
			padding: 0 !important;
			overflow: hidden !important;
		}
	}
}

